<script lang="ts">
	import type { Todo } from '$lib/types/Todo';
	import { v4 as uuidv4 } from 'uuid';
	import { onMount } from 'svelte';
	import TodoItem from '$lib/components/TodoItem.svelte';
	import { todoCounter } from '$lib/store/counter';
	import TodoCounter from '$lib/components/TodoCounter.svelte';

	let todos: Todo[] = [];
	let todosLoading = true;
	let newTodoName: string;

	$: todoCounter.set(todos.length);

	const getTodos = () => {
		try {
			todos = (JSON.parse(localStorage.getItem('todos') || '') || []) as Todo[];
		} catch (e) {
			console.log(e);
		}
	};

	const updateTodosInLocalStorage = () => {
		localStorage.setItem('todos', JSON.stringify(todos));
	};

	const addNewTodo = () => {
		todos = [
			...todos,
			{
				name: newTodoName,
				checked: false,
				id: uuidv4()
			}
		];

		updateTodosInLocalStorage();

		newTodoName = '';
	};

	const deleteTodo = (event: CustomEvent<{ id: string }>) => {
		todos = todos.filter((todo) => todo.id !== event.detail.id);

		updateTodosInLocalStorage();
	};

	onMount(() => {
		getTodos();
		todosLoading = false;
	});

	/*onDestroy(() => {
		if (typeof alert !== 'undefined') {
			alert('goodbye');
		}
	});

	beforeUpdate(() => {
		if (typeof alert !== 'undefined') {
			alert('todo will be changed');
		}
	});

	afterUpdate(() => {
		if (typeof alert !== 'undefined') {
			alert('todo changed');
		}
	});*/
</script>

<div>
	<TodoCounter />
	{#if todosLoading}
		<p>Loading...</p>
	{:else}
		{#each todos as todo (todo.id)}
			<TodoItem
				{todo}
				on:deleteTodo={deleteTodo}
				on:updateTodosInLocalStorage={updateTodosInLocalStorage}
			/>
		{:else}
			<p>No tasks today!</p>
		{/each}
	{/if}

	<div class="mt-4">
		<p>Add a new todo</p>
		<input bind:value={newTodoName} />
		<button on:click={addNewTodo}>Add</button>
	</div>
</div>
