<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import { fade } from 'svelte/transition';
	import type { Todo } from '$lib/types/Todo';

	const dispatch = createEventDispatcher();
	export let todo: Todo;

	const deleteTodo = () => {
		dispatch('deleteTodo', {
			id: todo.id
		});
	};

	const updateTodosInLocalStorage = () => {
		dispatch('updateTodosInLocalStorage');
	};
</script>

<div class="flex gap-4 items-center" transition:fade={{ delay: 250, duration: 300 }}>
	<p class:line-through={todo.checked}>{todo.name}</p>

	<input type="checkbox" bind:checked={todo.checked} on:change={updateTodosInLocalStorage} />

	<button on:click={deleteTodo}>del</button>
</div>
