<script lang="ts">
	import { todoCounter } from '$lib/store/counter';
</script>

<div class="flex justify-between items-center">
	<h2 class="text-5xl font-bold mt-4">Todos</h2>

	<p>Todo count {$todoCounter}</p>
</div>
